<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user %></h1>
<p>
  A log file has been sent of an error that happened during conversion at <%= @time_of_incident %>
  <p>
    <em>Specific error <%= @error %></em>
  </p>
</p>
</body>
</html>